@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Nunito+Sans&display=swap'rel='stylesheet');

.mainCards {
	position: relative;
	left: 100px;
	top: 8px;
	padding: 10px;
	margin: 10px;
}

.jobTitle {
	position: relative;
	left: 140px;
	top: 10px;
	font-family: 'Nunito Sans', sans-serif;
	font-size: 17px;
	color: #000000;
	line-height: 23px;
	letter-spacing: -0.024em;
}

.subtitle {
	position: relative;
	left: 20px;
	top: 30px;
	font-family: 'Crimson Text', sans-serif;
	font-size: 14px;
	line-height: 15px;
	align-items: center;
	color: #8a8a8f;
}

.experienceText {
	position: relative;
	left: 20px;
	top: 60px;
	font-family: 'Crimson Text', sans-serif;
	font-size: 12px;
	line-height: 15px;
	align-items: center;
	color: #8a8a8f;
}
